footer{
    height: 70px;
    background-color: #0000fc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
}


footer img{
    margin:auto;
}

footer .float-center{
    margin: auto
}