<nav  class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <a class="navbar-brand logo" href="#">
            <img src="assets/imgs/Grupo-4.png" alt="">
        </a>
    
    <!-- The menu items -->
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <div class="collapse navbar-collapse"[ngbCollapse]="isCollapsed"id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-brand"><a  href="#">Consultar</a>
            </li>
            <li class="navbar-brand"><a  href="#">¿Qué es CERVER?</a>
            </li>
            <li class="navbar-brand"><a  href="#">Contacto</a>
            </li>
        </ul>
    </div>
</nav>