@navbar-height: 50px;
.navbar .navbar-collapse ul li a{
    font-family: Montserrat;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.navbar .navbar-collapse ul li{
    padding: 21px
}

.navbar .navbar-collapse ul li a:hover{
    color: #C4FC23;
}

// .navbar{
//     background: #0000FC 0% 0% no-repeat padding-box;
//     opacity: 0.14;
//     height: 91px;
// }
