
:host ::ng-deep {
    .container {
        margin: 0 15%;
    }

    .notification-toast {
        .ui-toast {
            width: 50%;
            margin: 0;
            left: 25%;

            .ui-toast-message-content {
                padding: 1em 2em;
            }

            .ui-toast-icon {
                top: .5em;
            }
        }
    }
}

.container{
    margin: auto;
}