:host ::ng-deep {
    .submit {
        padding: 100px 15%;
        display: block;
        .repos-header {
            margin-bottom: 20px;
            a {
                cursor: pointer;
            }
        }

        p-progressSpinner {
            text-align: center;
        }

        .confirmation-toast {
            .ui-toast-message {
                background-color: white !important;
            }
        }
    }
}

.junbo .content p{
    font-family: Montserrat;
    color: #7EFC38;
    font-weight: 500;
    font-size: 27px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    margin-bottom: 28px;

}

.junbo .content{
    width: inherit;
    text-align: center;

}

.junbo{
    padding-top: 220px;
    background-color: inherit
}

.input #json_txt{
    width: 479px;
    height: 479px;
    display: inline-grid;
}

.input #json_txt::placeholder{
    font-family: Montserrat;
    color: #2699FB;
    font-weight: 400;
    font-size: 14px;
}

.input div button{
    background: #7EFC38 0% 0% no-repeat padding-box;
    font-family: Montserrat;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 600;
    margin-top: 28px;
    font-size: larger;
    padding: 14px;
}
